<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Review</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="review">
			<h1>Add Review</h1>
			<form action="{{ url_for('add_review') }}" method="post">


                <!-- <ul class="rate-area">
                    <input type="radio" id="5-star" name="rating" value="5" /><label for="5-star" title="Amazing">5 stars</label>
                    <input type="radio" id="4-star" name="rating" value="4" /><label for="4-star" title="Good">4 stars</label>
                    <input type="radio" id="3-star" name="rating" value="3" /><label for="3-star" title="Average">3 stars</label>
                    <input type="radio" id="2-star" name="rating" value="2" /><label for="2-star" title="Not Good">2 stars</label>
                    <input type="radio" id="1-star" name="rating" value="1" /><label for="1-star" title="Bad">1 star</label>
                </ul> -->
                
                
				<label for="Course"><i class="fas fa-user"></i></label>
				<input type="text" name="Course" placeholder="Course" id="Course" required>

                <input type="number" min="0" max="5" name="Rating" placeholder="Rating" id="Rating" required>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" id="inlineCheckbox1">
                    <!-- <label class="form-check-label" for="inlineCheckbox1"></label> -->
                </div>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" id="inlineCheckbox2">
                    <!-- <label class="form-check-label" for="inlineCheckbox2"></label> -->
                </div>

				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Submit">



                <!-- <div class="input-group mb-3">
                    <span class="input-group-text">Rating (0-5)</span>
                    <input type="number" id="rating" min="0" max="5" class="form-control" placeholder="Rating" aria-label="rating" aria-describedby="basic-addon1" required>

                <div class="input-group mb-3">
                    <span class="input-group-text">Comment</span>
                    <textarea name="Comment" id="comment" cols="40" rows="5"></textarea required>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="recommended" value="Recommended">
                    <label class="form-check-label" for="inlineCheckbox1">Recommended</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="textbook" value="Textbook">
                    <label class="form-check-label" for="inlineCheckbox2">Requires Textbook</label>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Instructor</span>
                    <input type="text" id="instructor" class="form-control" placeholder="Instructor" aria-label="instructor" aria-describedby="basic-addon1" required>
                </div> -->


			</form>
		</div>
	</body>
</html>