<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <title>Visualization</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Ratings Visualizer</h1>
                <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
				<a href="{{ url_for('visualize') }}"><i class="fa-solid fa-chart-column"></i>Visualizer</a>
                <a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#review" onclick="this.blur();"><i class="fa fa-pen fa-1"></i>Add Review</button>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>

		<form id="form">
		<div class="modal fade" id="review" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="Label">Add a Review</h2>
				</div>
				<div class="modal-body">
						<div class="form-group">
							<label for="course" class="col-form-label">Course Name:</label>
							<input type="text" class="form-control" id="course" placeholder="ie. CS411" required="true">
						</div>
						<div class="form-group">
							<label for="instructor" class="col-form-label">Instructor Name:</label>
							<input type="text" id="instructor" class="form-control" placeholder="Instructor Name" required="true">
						</div>
						<div class="form-group">
							<label for="rating" class="col-form-label">Rating (1-5):</label>
							<input type="number" id="rating" class="form-control" min="1" max="5" placeholder="(1-5)" required="true">
						</div>
						<div class="form-group">
							<label for="comment" class="col-form-label">Comments:</label>
							<textarea class="form-control" id="comment" placeholder="Write your thoughts on this course" required="true"></textarea>
						</div>
						<div class="form-group">
							<label for="recommended" class="col-form-label">Recommended:</label>
							<input type="checkbox" id="recommended" class="form-control">
						</div>
						<div class="form-group">
							<label for="textbook" class="col-form-label">Textbook:</label>
							<input type="checkbox" id="textbook" class="form-control">
						</div>
				</div>
	
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" id="submit">Submit Review</button>
					<!-- <button id="submit-task" type="button" class="btn btn-primary">Submit Review</button> -->
				</div>
				</div>
			</div>
		</div>
		</form>
	
        <h2 style="text-align: center;">Enter a course</h2>

		<div style ="text-align: center">
			<form id="form"> 
				<input type="search" id="query" name="q" placeholder="Search..." method="GET">
				<button>Search</button>
			</form>
		</div>
	
		<div style ="text-align: center">
		{% if keyword: %}
			<h4>Current Search: {{keyword}}</h4>
		{% else: %}
			<h4>No Keyword</h4>
		{% endif %}
		</div>

		<!-- Reviews -->
	  	<div class="container table-responsive">          
			<table class="table">
				<thead>
				<tr>
					<!-- Change table header -->
                    <th class="Instructor">Instructor</th>
					<th class="Average">Average Ratings</th>
                    <th class="Number">Number of Ratings</th>
                    <th class="Minimum">Minimum Rating</th>
                    <th class="Maximum">Maximum Rating</th>
				</tr>
				</thead>
		
				<tbody>
				{% for stat in stats %}
					<tr>
						<!-- Actual content -->
						<td>{{stat.Instructor}}</td>
                        <td>{{stat.Average}}</td>
                        <td>{{stat.Number}}</td>
                        <td>{{stat.Minimum}}</td>
                        <td>{{stat.Maximum}}</td>
					</tr>
				{% endfor %}
				
				</tbody>
			</table>
        </div>

        <img src="{{img}}" class="center">
	</body>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script/modal.js') }}"></script>

</html>

</body>